.peri {
	text-align: center;
	font-size: 30px;
}
.balon {
	width:175px;
	height:80px;
	left:600px;
	top:600px;
	border-style:solid;
	border-color:black;
	position:absolute;
	background-size:cover;
	border-radius:40px;
	text-align: center;
	font-family:helvetica;
	font-size:35px;
	display:block;
}
.pelota {
width:175px;
	height:80px;
	left:800px;
	top:100px;
	border-style:solid;
	border-color:black;
	position:absolute;
	background-size:cover;
	border-radius:40px;
	text-align: center;
	font-family:helvetica;
	font-size:35px;
	display:block;

}
.hormiga{
width:175px;
	height:80px;
	left:400px;
	top:100px;
	border-style:solid;
	border-color:black;
	position:absolute;
	background-size:cover;
	border-radius:40px;
	text-align: center;
	font-family:helvetica;
	font-size:35px;
	display:block;

}
